<section class="register d-flex align-items-center">
  <div class="container">
    <form class="row row-cols-1 g-3 mx-auto p-4">
      <h3 class="fw-bold">Register Yourself</h3>
      <div class="col">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" required />
      </div>
      <div class="col">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" required />
      </div>
      <div class="col">
        <label for="inputEmail" class="form-label">Email</label>
        <input type="email" class="form-control" id="inputEmail" required />
      </div>
      <div class="col">
        <label for="inputPassword" class="form-label">Password</label>
        <input
          type="password"
          class="form-control"
          id="inputPassword"
          required
        />
      </div>
      <div class="mt-4 d-flex align-items-center justify-content-between">
        <button type="submit" class="btn btn_orange sign_up_btn">
          Sign Up
        </button>
        <a href="/login" class="text-decoration-none">Alredy have account?</a>
      </div>
    </form>
  </div>
</section>
