<section class="error_page d-flex align-items-center">
  <div class="container text-center py-5">
    <h3 class="fw-bold">Sorry, Page Not Found! 😕</h3>
    <p class="text-muted">
      You probably entered wrong url. To visit website, go to the main page.
    </p>
    <img class="d-block mx-auto my-4" src="img/404_error.png" alt="" />
    <a href="/" class="btn btn_orange go_back_btn">Go Back</a>
  </div>
</section>
