@import "./variables";
@import "./utility";

// -------------------- Hero Section Styling Start --------------------
@media (max-width: 767px) {
  .hero {
    .container {
      flex-direction: column;
      margin: 5rem 0;

      > div:nth-child(1) {
        width: 100% !important;
      }
      > div:nth-child(2) {
        width: 75% !important;
      }
    }
  }
}
@media (max-width: 576px) {
  .hero {
    .container {
      h1 {
        font-size: 3rem;
        font-weight: bold;
      }
      p {
        font-size: 1rem;
      }
      .shop_now_btn {
        font-size: 1rem;
        padding: 0.2rem 1rem;
      }
    }
  }
}
// -------------------- Hero Section Styling End --------------------

// -------------------- Menu Section Styling Start --------------------
@media (max-width: 992px) and (min-width: 768px) {
  .menu {
    .product {
      margin: 0 1rem;
    }
  }
}
@media (max-width: 576px) {
  .menu {
    .product {
      margin: 0 5rem;
    }
  }
}
@media (max-width: 480px) {
  .menu {
    .product {
      margin: 0 2rem;
    }
  }
}
// -------------------- Menu Section Styling End --------------------

// -------------------- Login-Register Page Styling Start --------------------
@media (max-width: 480px) {
  .login,
  .register {
    form {
      margin: 4rem 1rem !important;

      .from_btns {
        flex-direction: column !important;

        a {
          margin-top: 1rem;
        }
      }

      .login_btn,
      .sign_up_btn {
        width: 100%;
      }
    }
  }
}
// -------------------- Login-Register Page Styling End --------------------

// -------------------- Cart Page Styling Start --------------------
@media (max-width: 1300px) {
  .cart {
    .cart_order {
      width: 60% !important;
    }
  }
}
@media (max-width: 1080px) {
  .cart {
    .cart_order {
      width: 70% !important;
    }
  }
}
@media (max-width: 880px) {
  .cart {
    .cart_order {
      width: 80% !important;
    }
  }
}
@media (max-width: 767px) {
  .cart {
    .cart_order {
      width: 100% !important;

      .order_list {
        img {
          width: 130px !important;
          height: 130px !important;
        }

        h4 {
          font-size: 1.3rem;
        }
      }

      form {
        width: 75% !important;
      }
    }
  }
}
@media (max-width: 560px) {
  .cart {
    .order_list {
      > div {
        flex-direction: column;

        > div:nth-child(1) {
          width: 75% !important;
        }
        > div:nth-child(2) {
          margin-top: 1rem;
          width: 60% !important;
        }
      }
    }
  }
}
@media (max-width: 460px) {
  .cart {
    .order_list {
      > div {
        flex-direction: column;

        > div:nth-child(1) {
          width: 100% !important;
        }
        > div:nth-child(2) {
          width: 80% !important;
        }
      }
    }
  }
}
@media (max-width: 450px) {
  .cart {
    .cart_order {
      form {
        width: 95% !important;
      }
    }
  }
}
// -------------------- Cart Page Styling End --------------------

// -------------------- Add Juice Page Styling Start --------------------
@media (max-width: 992px) {
  .add_juice {
    .card {
      width: 100% !important;
    }
  }
}
@media (max-width: 768px) {
  .add_juice {
    .card {
      .drop_img_container {
        margin: 1rem 2rem;
        width: 90% !important;
      }

      form {
        button {
          width: 100% !important;
        }
      }
    }
  }
}
@media (max-width: 575px) {
  .add_juice {
    .card {
      padding: 2rem !important;
      margin: 10rem 2rem 5rem 2rem !important;

      .drop_img_container {
        margin: 1rem;
      }
    }
  }
}
@media (max-width: 425px) {
  .add_juice {
    .card {
      padding: 2rem;
      margin: 10rem 1rem 5rem 1rem !important;

      .drop_img_container {
        margin: 1rem;
      }
    }
  }
}
@media (max-width: 375px) {
  .add_juice {
    .card {
      margin: 10rem 0 5rem 0 !important;
      padding: 1rem !important;

      .row {
        .drop_img_container {
          margin: 1rem;
        }

        > div:nth-child(2) {
          padding: 0 1rem !important;
        }
      }
    }
  }
}
// -------------------- Add Juice Page Styling End --------------------
