hr {
  width: 60px;
  margin: 0.8rem auto 3rem auto;
  border: 2px solid $primary;
}

.alert-success {
  background-color: #4bb543 !important;
  color: $pure !important;
}
.alert-danger {
  background-color: #f32013 !important;
  color: $pure !important;
}

// Noty
.noty_body {
  padding: 0.8rem 1.2rem !important;
}
.noty_theme__metroui {
  border-radius: 0px !important;
}
.noty_theme__metroui.noty_type__success {
  background-color: #4bb543 !important;
}

// Buttons
.btn_orange {
  background-color: $primary;
  color: $pure;
  border-radius: 50px;
  border: 2px solid transparent;
  outline: none;

  &:hover {
    background-color: transparent;
    border: 2px solid $primary;
    color: $primary;
    transition: $smooth;
  }
}

.btn_red {
  background-color: transparent;
  color: #dc3545;
  border-radius: 50px;
  border: 2px solid #dc3545;
  outline: none;

  &:hover {
    background-color: #dc3545;
    border: 2px solid #dc3545;
    color: $pure;
    transition: $smooth;
  }
}
