@import "./variables";
@import "./utility";
@import "~noty/src/noty.scss";
@import "~noty/src/themes/mint.scss";
@import "~noty/src/themes/metroui.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Lato", sans-serif;
  color: $dark;
}

// -------------------- Navbar Styling Start --------------------
.navbar {
  font-weight: bold;

  .navbar-brand {
    font-size: 2.5rem;
    color: $primary;
  }
  .nav-link {
    font-size: 1.2rem;
    font-weight: normal;

    &:hover {
      color: $primary !important;
      transition: $smooth;
    }
  }
  .cart_btn {
    padding: 0.25rem 0.8rem;

    i {
      font-size: 1.5rem;
    }
  }
}
// -------------------- Navbar Styling End --------------------

// -------------------- Hero Section Styling Start --------------------
.hero {
  background-color: $secondary;
  height: calc(100vh - 86px);

  h1 {
    font-size: 3.5rem;
    font-weight: bold;
  }
  p {
    font-size: 1.1rem;
  }
  .shop_now_btn {
    font-size: 1.1rem;
    padding: 0.3rem 1.2rem;
  }
}
// -------------------- Hero Section Styling End --------------------

// -------------------- Menu Section Styling Start --------------------
.menu {
  margin: 5rem 0;

  .product {
    box-shadow: 0 0px 10px rgba(0, 0, 0, 0.1);

    > div {
      background-color: $secondary;
    }

    img {
      padding: 1rem;
      width: 100%;
      filter: grayscale(0.5);
      transition: $smooth;
    }

    &:hover {
      img {
        filter: grayscale(0);
      }
    }
  }
  .add_to_cart_btn {
    background-color: transparent;
    color: $primary;
    font-weight: bold;
    border-radius: 50px;
    border: 2px solid $primary;
    padding: 0.2rem 1rem;

    &:hover {
      background-color: $primary;
      border: 2px solid transparent;
      color: $pure;
      transition: $smooth;
    }
  }
}
// -------------------- Menu Section Styling End --------------------

// -------------------- Footer Styling Start --------------------
.footer {
  background-color: $secondary;
  padding: 1rem 0;

  .copy_write {
    font-size: 1.1rem;

    .github_link {
      color: $primary !important;
      text-decoration: none;
    }
  }
}
// -------------------- Footer Styling End --------------------

// -------------------- Cart Page Styling Start --------------------
.cart {
  background-color: $secondary;

  .cart_order {
    .order_list {
      img {
        width: 150px;
        height: 150px;
        border-radius: 50%;
      }

      > div {
        display: grid;
        grid-template-columns: 1.6fr 0.6fr 0.6fr;
        grid-template-rows: 1fr;
        align-items: center;
        margin: 2rem 0;

        h5 {
          text-align: center;
        }
      }
    }
  }

  .empty_cart {
    p {
      font-size: 1.1rem;
    }

    img {
      width: 40%;
    }

    .go_back_btn {
      padding: 0.2rem 1rem;
    }
  }
}
// -------------------- Cart Page Styling End --------------------

// -------------------- Login-Register Page Styling Start --------------------
.login,
.register {
  background-color: $secondary;
  min-height: calc(100vh - 145px);

  form {
    background-color: $pure;
    width: 450px;
    border-radius: 5px;
    box-shadow: 0 0px 5px rgba(0, 0, 0, 0.3);

    .login_btn,
    .sign_up_btn {
      padding: 0.2rem 1.5rem;
    }
  }
}
// -------------------- Login-Register Page Styling End --------------------

// -------------------- Order Page Styling Start --------------------
.orders {
  background-color: $secondary;
  min-height: calc(100vh - 86px - 58.4px);

  .order_table {
    th,
    td {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    tbody {
      p {
        margin: 0;
      }
      a {
        text-decoration: none;
        color: $primary;
      }
    }
  }
}
// -------------------- Order Page Styling End --------------------

// -------------------- Order Status Page Styling Start --------------------
.order_status {
  background-color: $secondary;
  height: calc(100vh - 86px - 58.4px);

  ul {
    margin: 2rem 0 0 2.8rem;

    li {
      list-style: none;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      span {
        position: relative;
        padding-left: 0.8rem;

        &::after {
          content: "";
          position: absolute;
          left: -10px;
          top: 50%;
          background-color: $dark;
          width: 8px;
          height: 8px;
          border-radius: 50%;
          transform: translateY(-4px);
          box-shadow: 0 0 1px 10px $secondary;
        }
        &::before {
          font-family: "Line Awesome Free";
          font-size: 2rem;
          font-weight: 600;
          position: absolute;
          left: -80px;
          top: 50%;
          transform: translateY(-50%);
          color: inherit;
        }
      }

      &:nth-child(1) {
        span::before {
          content: "\f46c";
        }
      }
      &:nth-child(2) {
        span::before {
          content: "\f560";
        }
      }
      &:nth-child(3) {
        span::before {
          content: "\f561";
        }
      }
      &:nth-child(4) {
        span::before {
          content: "\f0d1";
        }
      }
      &:nth-child(5) {
        span::before {
          content: "\f582";
        }
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -6px;
        width: 2px;
        height: 100%;
        background-color: $dark;
      }
    }

    .step_completed {
      &::before {
        background-color: $gray;
      }

      span {
        color: $gray;

        &::after {
          background-color: $gray;
        }
      }
    }

    .current {
      span {
        color: $primary;

        &::after {
          background-color: $primary;
        }
      }
    }
  }
}

// -------------------- Order Status Page Styling End --------------------

// -------------------- Error Page Styling Start --------------------
.error_page {
  min-height: calc(100vh - 86px - 58.4px);
  p {
    font-size: 1.1rem;
  }

  img {
    width: 55%;
  }

  .go_back_btn {
    padding: 0.2rem 1rem;
  }
}
// -------------------- Error Page Styling End --------------------
