<section class="add_juice d-flex align-items-center">
  <div
    class="container mx-auto d-flex align-items-center justify-content-center"
  >
    <div class="card p-5">
      <div class="title">
        <h3 class="fw-bold">Add Juice :</h3>
      </div>
      <div class="row d-flex align-items-center justify-content-center">
        <div
          class="drop_img_container col-md-4 d-flex align-items-center justify-content-center flex-column p-2"
        >
          <i class="lar la-file-image"></i>
          <p class="my-2">
            Drop your image here or, <span class="browse_btn">Browse</span>
          </p>
        </div>
        <div class="col-md-8 px-4">
          <form
            method="POST"
            action="/menu/addJuice"
            enctype="multipart/form-data"
          >
            <input type="file" name="juice_img" id="fileInput" class="d-none" />
            <div class="my-3">
              <label for="juiceNameInput" class="form-label">Juice Name</label>
              <input
                type="text"
                name="juice_name"
                placeholder="Juice Name"
                class="form-control"
                id="juiceNameInput"
              />
            </div>
            <div class="my-3">
              <label for="juiceQuantityInput" class="form-label"
                >Quantity</label
              >
              <input
                type="text"
                name="quantity"
                placeholder="00 ml/l"
                class="form-control"
                id="juiceQuantityInput"
              />
            </div>
            <div class="my-3">
              <label for="juicePriceInput" class="form-label">Price</label>
              <input
                type="text"
                name="price"
                placeholder="00"
                class="form-control"
                id="juicePriceInput"
              />
            </div>
            <button type="submit" class="btn btn_orange w-25 my-2">
              Save
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
